extends layout

block head
	

block content
	div.q
		h1 Upload to #{pl.name}
		p Only file upload supported currently
		form(method="post" enctype="multipart/form-data" onSubmit = "window.location='/p/#{pl.id}'" action = "/api/#{pl.id}/songs/upload")
			input(type="file" name="song" accept="audio/*")
			input(TYPE="hidden" NAME="redirect" VALUE="/p/#{pl.id}")
			input(type="submit" value="Submit")
