extends layout

append head
    link(rel='stylesheet', href='/stylesheets/style_upload.css')

append content
    div#add-url
        h1 Add to Playlist from a Website
        form(method="post" onSubmit="window.location='/'" action="/api/q/songs/url")
            p Video URL (YouTube, Vimeo, and hundreds of other sites supported)
            input(type="text" name="url")
            input(type="hidden" name="redirect" value="/")
            input(type="submit" value="Submit")
