extends layout

append head
    link(rel='stylesheet', href='/stylesheets/style_upload.css')
    script(src="/javascripts/progress.js")

append content
    div#add-list
        h1 Add to Playlist
        p#upload-error
        div#add-module-container
            div.add-module#add-module-upload
                div.add-module-button
                    form#fform(method="post" enctype="multipart/form-data" action="/api/q/songs/upload")
                        input#fi(type="file" name="song" accept="audio/mpeg" multiple)
                p.add-module-text Upload from your device
            div.add-module#add-module-url
                a(href="/add/url")
                    div.add-module-button
                p.add-module-text Upload from a website
        div#upload-progress-bar
            div#upload-progress-elapsed