extends layout

block head

block content
    div.q
        h1 Add to #{list.name}
        div.add-module-container
            div
                a(href="/add/#{list.id}/upload")
                    img(src="/images/add_module_upload.png")
                p Upload from your device
            div
                a(href="/add/#{list.id}/url")
                    img(src="/images/add_module_url.png")
                p Add from a website
            div(ng-repeat = "i in range(2)")
