#progbar {
	width: 80%;
	height:14px;
	background: #fcfcfc;
	outline: #000 solid thin;
	margin: 32px auto;
}

#progbarprogress {
	height: 100%;
	background: #45e;
}

#errormessage {
	font-weight: bold;
}

.add-module {
	margin-right: 10px;
	display: inline-block;
}

.add-module-button {
	width: 180px;
	height: 180px;
	border: 5px solid black;
	background-repeat: no-repeat;
	background-position: center center;
}

#add-module-upload .add-module-button {
	background-image: url('/images/add_module_upload.png');
}

#add-module-url .add-module-button {
	background-image: url('/images/add_module_url.png');
}

.add-module-text {
	text-align: center;
	margin: 10px 0;
}

#fi {
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}
